{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">



    <div class="logo-container">
        <img src="{% static 'images/LogoHarvz.jpg' %}" alt="Logo" class="img-fluid logo">
        <div class="logo-text">
            <h1>This is my Logo</h1>
            <p>"This logo embodies my initials, H and V, with the V creatively tilted to form a unique and striking symbol.<br> It captures both my identity and a sense of modern design."</p>
        </div>
    </div>



{% endblock content %}



